
#io .setting-row {
  flex-wrap: wrap;
}
#io label {
  flex-basis: 100%;
  font-weight: bold;
  line-height: 32px;
  margin: 0;
}
#import-setting {
  resize: none;
  height: 100px;
  border: 1px solid #aaa;
}
#import-btn {
  margin-top: 8px;
}
.tmicon-backup {
  cursor: pointer;
  margin-left: 8px;
  display: none;
}
#version-list li:hover .tmicon-backup {
  display: inline-block;
}






#property-view {
  position: relative;
  margin-top: 8px;
  padding: 0;
  height: 100px;
  background: #EFEFEF;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  justify-content: center;
}
#property-view.hasProperty::before {
  content: '';
  width: 220px;
  height: 60px;
  position: absolute;
  background: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewBox%3D%220%200%206%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200H3V3H0V0Z%22%20fill%3D%22%23E1E1E1%22/%3E%3Cpath%20d%3D%22M3%200H6V3H3V0Z%22%20fill%3D%22white%22/%3E%3Cpath%20d%3D%22M3%203H6V6H3V3Z%22%20fill%3D%22%23E1E1E1%22/%3E%3Cpath%20d%3D%22M0%203H3V6H0V3Z%22%20fill%3D%22white%22/%3E%3C/svg%3E%0A');
}
#property-view.hasLight {
  background: #666666;
}
#property-view .preview-box {
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999999;
  font-size: 18px;
  position: relative;
}




.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

#property-list > ul > li .property-value,
#mode-list li .theme-mode-name,
#version-list li .version-name {
  flex: 1;
  white-space: nowrap;
  width: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.property-second-value,
.property-third-value {
  padding-left: 5px;
}

#property-list > ul > li .remove-property,
#mode-list li .remove-mode,
#version-list li .remove-version {
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  margin: 6px;
  cursor: pointer;
}


#import-setting {
  width: 100%;
}







.token-val {
  display: none;
}






.detach-token,
.use-token,
.separator-icon,
.themem-mode-list,
#export {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
#export {
  float: right;
}

.detach-token:hover,
.use-token:hover,
.use-token[aria-expanded="true"],
.themem-mode-list:hover,
#export:hover {
  background: rgba(0,0,0,.06);
}
.detach-token,
.use-token {
  border-radius: 0;
}
.use-token {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.separator-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  flex: 0 0 32px;
  line-height: 32px;
  fill: #333;
  color: #333;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 2px;
  background-clip: content-box;
  position: relative;
  transform: translateZ(0);
  margin-left: 2px;
}
.separator-icon:hover {
  border: 1px solid #e6e6e6;
}
.separator-icon.active {
  background-image: none;
  box-shadow: none;
  outline: none;
}
.separator-icon.active:hover {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.separator-icon.active::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  width: 26px;
  height: 26px;
  border-radius: 2px;
  background-color: #e6e6e6;
  z-index: -1;
}
#property-setting .separator-vals .btn {
  min-width: 0;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  box-shadow: none;
  border-color: transparent;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
#property-setting .separator-vals .btn-group:hover .btn,
#property-setting .separator-vals .btn-group.focus .btn {
  border-color: #cccccc;
}
.separator-mode-sign {
  width: 8px;
  height: 8px;
  display: block;
  border-color: #B3B3B3;
  border-style: solid;
  border-width: 0;
  margin: 10px;
}
.separator-mode-sign[separate-type="topLeft"] {
  border-top-width: 1px;
  border-left-width: 1px;
  border-top-left-radius: 3px;
}
.separator-mode-sign[separate-type="topRight"] {
  border-top-width: 1px;
  border-right-width: 1px;
  border-top-right-radius: 3px;
}
.separator-mode-sign[separate-type="bottomRight"] {
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-bottom-right-radius: 3px;
}
.separator-mode-sign[separate-type="bottomLeft"] {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-bottom-left-radius: 3px;
}

.stroke-width-icon {
  width: 12px;
  height: 12px;
  border-top: 1px solid #b3b3b3;
  border-bottom: 3px solid #b3b3b3;
  margin: 10px;
}
span.stroke-width-icon:after {
  border-top: 2px solid #b3b3b3;
  content: '';
  display: block;
  margin-top: 3px;
  width: 12px;
}
.stroke-align {
  margin-left: 2px;
}
.stroke-align button {
  border-color: transparent;
}
.stroke-align .dropdown-toggle,
.stroke-align .dropdown-menu li a {
  text-transform: lowercase;
}
.stroke-align .dropdown-toggle::first-letter,
.stroke-align .dropdown-menu li a::first-letter {
  text-transform: capitalize;
}
.fill-color-icon,
.stroke-fill-icon {
  width: 16px;
  height: 16px;
  margin: 8px 10px 8px 8px;
  border: 1px solid #ddd;
  display: inline-block;
  cursor: pointer;
}
.stroke-fill-icon {
  border-radius: 8px;
  background: url(data:image/svg+xml;utf8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewB…E%3Cpath%20d%3D%22M0%203H3V6H0V3Z%22%20fill%3D%22white%22/%3E%3C/svg%3E%0A);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.stroke-fill-icon::after {
  content: '';
  margin: 0 auto;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  background: #fff;
  position: absolute;
}
.fill-color-icon[disabled],
.stroke-fill-icon[disabled] {
  cursor: not-allowed;
}
.color-icon-opacity {
  width: 7px;
  height: 14px;
  float: right;
  opacity: 0;
  background: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewBox%3D%220%200%206%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200H3V3H0V0Z%22%20fill%3D%22%23E1E1E1%22/%3E%3Cpath%20d%3D%22M3%200H6V3H3V0Z%22%20fill%3D%22white%22/%3E%3Cpath%20d%3D%22M3%203H6V6H3V3Z%22%20fill%3D%22%23E1E1E1%22/%3E%3Cpath%20d%3D%22M0%203H3V6H0V3Z%22%20fill%3D%22white%22/%3E%3C/svg%3E%0A');
}
.stroke-fill-icon .color-icon-opacity {
  display: none;
}
.corner-radius-val,
.stroke-val,
.color-val,
.opacity-val,
.font-family-val,
.font-size-val,
.spacing-val {
  line-height: 30px !important;
  flex: 1;
  padding: 0 !important;
  padding-left: 8px !important;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 10px;
  text-overflow: ellipsis;
}
.stroke-val + .opacity-val[contenteditable="true"],
.color-val + .opacity-val[contenteditable="true"],
.font-family-val {
  margin-left: -1px;
}

.corner-radius-val,
.stroke-val,
.opacity-val,
.spacing-val,
.font-size-val{
  margin-right: -1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.hasThemeMode .opacity-val {
  border-radius: 0;
}
.font-family-val {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.corner-radius-val.hasReferenceToken,
.stroke-val.hasReferenceToken,
.opacity-val.hasReferenceToken,
.spacing-val.hasReferenceToken,
.font-family-val.hasReferenceToken,
.hasReferenceToken + .dropdown .themem-mode-list {
  border-radius: 0;
}

#color-picker-container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #FFF;
  position: absolute;
}
#color-picker-header {
  padding: 3px 6px;
  border-bottom: 1px solid #e5e5e5;
  justify-content: space-between;
}
#picker-mode .picker-mode-value,
#picker-mode .dropdown-menu a {
  text-transform: lowercase;
}
#picker-mode .picker-mode-value::first-letter,
#picker-mode .dropdown-menu a::first-letter {
  text-transform: uppercase;
}
#picker-mode .picker-mode-value {
  display: inline-block;
}
.hsv-view-container,
.hsl-view-container {
  width: 267px;
  height: 267px;
  display: flex;
  position: relative;
}
.hsv-view {
  width: 255px;
  height: 255px;
  margin: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px;
  background-image: linear-gradient(to top,rgb(0,0,0) 0%,rgba(0,0,0,0) 100%),linear-gradient(to right,rgb(255,255,255) 0%,rgba(255,255,255,0) 100%); 
}
.hsl-view {
  width: 255px;
  height: 255px;
  margin: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px;
  background-image: -webkit-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
                    -webkit-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%)
}
#sliders-container {
  padding: 12px 14px;
  flex-direction: column;
}
.hue-container,
.opacity-container {
  position: relative;
  width: 232px;
  height: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px;
  text-align: center;
  border-radius: 6px;
  overflow: hidden;
}
.hue-container {
  background: rgb(255, 0, 0);
}
.opacity-container {
  margin-top: 12px;
  background: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewBox%3D%220%200%206%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200H3V3H0V0Z%22%20fill%3D%22%23E1E1E1%22/%3E%3Cpath%20d%3D%22M3%200H6V3H3V0Z%22%20fill%3D%22white%22/%3E%3Cpath%20d%3D%22M3%203H6V6H3V3Z%22%20fill%3D%22%23E1E1E1%22/%3E%3Cpath%20d%3D%22M0%203H3V6H0V3Z%22%20fill%3D%22white%22/%3E%3C/svg%3E%0A');
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 0.5px;
}
.opacity-container-patch {
  display: block;
  width: 12px;
  height: 12px;
  top: 0;
  right: 0;
  position: absolute;
}
.hue-slider,
.opacity-slider {
  width: 220px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  background-image: linear-gradient(to right, #ff0000 0%, #ffff00 16.7%, #00ff00 33.3%, #00ffff 50%, #0000ff 66.7%, #ff00ff 83.3%, #ff0000 100%);
}
.opacity-slider {
  background-image: none;
}
.hue-slider .ui-slider-handle,
.opacity-slider .ui-slider-handle,
.hsv-handler,
.hsl-handler {
  width: 12px;
  top: 0;
  margin-left: -6px;
  border-radius: 6px;
  display: block;
  position: absolute;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px;
  height: 12px;
  border: 2px solid #FFF;
}
.hsv-handler,
.hsl-handler {
  margin: 0;
}
.hue-slider .ui-slider-handle:focus,
.opacity-slider .ui-slider-handle:focus {
  outline: none;
}
.custom-color-setting {
  padding: 12px 14px;
  display: flex;
}
.custom-color-setting .input-container {
  flex: 1;
  display: none;
}
.custom-color-setting .input-container .btn {
  padding: 3px 4px;
  flex: 1;
  min-width: auto;
}
.custom-color-setting .input-container:hover .btn {
  border-color: #cccccc;
}
.custom-color-setting .input-container .btn:active {
  box-shadow: none;
}
.opacity-icon {
  opacity: 1;
  width: 16px;
  margin: 7px 8px 7px 6px;
}
.font-icon,
.spacing-icon {
  width: 16px;
  height: 16px;
  text-align: right;
  font-size: 14px;
  margin: 8px;
  color: #BBB;
  cursor: default;
  position: relative;
}
.font-icon::before {
  content: 'A';
  font-size: 8px;
  color: #000;
  top: 2px;
  left: 3px;
  position: absolute;
}
.val-container .input-group-btn .style-dropdown-toggle {
  width: 100px;
  text-align: left;
}
.val-container .input-group-btn .style-dropdown-toggle i {
  float: right;
}

.themem-mode-list,
#export {
  position: relative;
  border-radius: 0;
}

.themem-mode-list .tmicon-sun {
  position: relative;
  top: -2px;
  left: 3px;
  font-size: 14px;
}

.themem-mode-list .tmicon-moon {
  position: relative;
  left: -2px;
  top: 2px;
  font-size: 12px;
}

.no-node-selected {
  padding: 12px;
  color: #666666;
}